
.register-form {
  width: 320px;
  height: 240px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  font-family: "Open Sans", sans-serif;
  color: #494949;
  background-color: #f3f4f5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.task-3 {
  font-weight: bold;
  width: 38px;
  text-align: center;
  border: 2px solid red;
}

.task-4 {
  cursor: none;
  cursor: -webkit-grabbing;
  font-weight: bold;
  width: 38px;
  text-align: center;
  border: 2px solid blue;
}

.word-box {
  justify-content: center;
  display: flex;
  margin-bottom: 10px;
}

.word {
text-align: center;
    color: green;
    flex: 1;
}

.word.task {
  justify-content: center;
    display: flex;
}

.word.task8 {
  justify-content: center;
  display: block;
}

.word.task9 {
  justify-content: center;
  display: block;
}

.task__condition_task4 {
  display: inline-block;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
}

.button {
  border: none;
  font-size: 1.2em;
  line-height: 1.75;
  color: white;
  background: linear-gradient(#157a91, rgb(31, 85, 100));
  box-shadow:
   inset 0 1px 0 rgba(255, 255, 255, 0.3),
   0 1px 2px rgba(0, 0, 0, 0.35),
   inset 0 3px 2px rgba(255, 255, 255, 0.2),
   inset 0 -3px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 90px;
  width: 90px;
  margin: 5px;
}

.button:hover {
    background: linear-gradient(#22a4c2, rgb(42, 113, 133));
    color: wheat;
}

.button:focus {
  background: linear-gradient(#22a4c2, rgb(42, 113, 133));
  border: none;
  color: wheat;
}

input[type="text"] {
  padding: 0;
  border: none;
  border-bottom: 1px solid #dddee1;
  box-sizing: border-box;
  transition: all 0.3s;
  font-weight: 400;
  outline: none;
  background: transparent;
  height: 40px;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

input[type="password"] {
  padding: 0;
  border: none;
  border-bottom: 1px solid #dddee1;
  box-sizing: border-box;
  transition: all 0.3s;
  font-weight: 400;
  outline: none;
  background: transparent;
  height: 40px;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.form__input {
  width: 100%;
}

input[type="text"]:focus {
  border: none !important;
  border-bottom: 1px solid #3b8ad6 !important;
}

input:placeholder-shown {
  color: #787878;
  font-weight: 400;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  user-select: none;
  z-index: 1;
  display: flex;
}

.modal-control {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  user-select: none;
  z-index: 1;
  display: flex;
}

.modal--task {
  background-color: rgba(255, 255, 255, 0.9);
}

.modal__content {
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 2rem;
  border: 2px solid #fecc00;
  background-size: cover;
  flex-direction: column;
  justify-content: space-around;
  min-height: 300px;
  min-width: 700px;
}

.modal__content--scores {
  width: 80%;
  height: 80%;
  background-image: none;
  background-color: rgba(0,0,0,0.8);
}

.modal__content--control {
  width: 80%;
  height: 80%;
  background-image: none;
  background-color: rgba(0,0,0,0.8);
}

.modal__content--task {
  height: fit-content;
  background-image: none;
  min-height: 150px;
  min-width: 400px;
  width: fit-content;
  max-width: 900px;
}

.modal__text {
  text-align: center;
  color: azure;
  font-size: 30px;
}

.modal__text--task {
  color: #494949;
}

.modal__top-scores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0;
  height: 50%;
  align-items: center;
  flex-direction: column;
  color: white;
}

.modal__control {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0;
  height: 65vh;
  width: 80vw;
  align-items: center;
  flex-direction: column;
  color: white;
  background: url(../../screens/battle/img/control.png) center no-repeat;
}



.element--hidden {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

.modal__task p {
  margin: 10px;
}

.modal__task {
  font-size: 30px;
  font-weight: bold;
  color: #0643d6;
}

.task__condition {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.task__button {
  width: 100%;
  font-size: 24px;
  margin-top: 20px;
  background-color: #52cfeb;
  border: 2px solid #52cfeb;
  color: #494949;
  font-weight: 600;
  height: 3rem;
  display: inline-block;
  transition: opacity 0.3s, color 0.3s, background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  vertical-align: middle;
}

.task__button:hover {
  background-color: #22a4c2;
  border: 2px solid #22a4c2;
  outline: none;
}

.task__button:focus {
  background-color: #22a4c2 !important;
  border: 2px solid #22a4c2 !important;
  outline: none;
}

.task__repeat-button,
.task__show-button {
  min-width: 100px;
  border-radius: 5px;
  color: #fff;
  background-color: #494949;
  font-size: 14px;
  height: 40px;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}

.task__show-button:disabled {
  color: gray;
  opacity: 0.5;
}

.task__repeat-button:focus,
.task__show-button:focus {
  outline: none;
}

.task__color {
  width: 150px;
  text-align: center;
}

.task__input {
  width: 100px;
  margin-left: 10px;
  font-size: 40px;
  text-align: center;
  color: green;
}

.task__input:placeholder-shown {
  font-size: 20px;
}

.dialogue--hidden {
  display: none;
}