
.descriptionCard {
  margin-left: 55px;
  font-size: 1.5em;
  color: wheat;
  font-weight: bold;
}

.descriptionCard.Monster {
  text-align: right;
  margin-left: 0;
  margin-right: 40px;
}

.MonsterIm {
  margin-left: 9vw;
  width:		200px;
  height:		300px;
  position: absolute;
}

.MonsterIm.legs {
  background-image:url('');
  animation: heroidle 4s infinite;
  animation-timing-function: linear;
  -webkit-animation: heroidle 4s infinite;
  -webkit-animation-timing-function: linear;
}

.MonsterIm.head {
  background-image:url('');
  animation: heroidle 4s infinite;
  animation-timing-function: linear;
  -webkit-animation: heroidle 4s infinite;
  -webkit-animation-timing-function: linear;
}

.MonsterIm.body.Hurt {
  background-image:url('');
  -webkit-animation: monster 2s linear forwards;
  animation: monster 2s linear forwards;
}

.MonsterIm.legs.Hurt {
  background-image:url('');
  -webkit-animation: monster 2s linear forwards;
  animation: monster 2s linear forwards;
}


.MonsterIm.head.Hurt {
  background-image:url('');
  -webkit-animation: monster 2s linear forwards;
  animation: monster 2s linear forwards;
}

.MonsterIm.wound {
  background-image:url('./img/woundMonster.png');
}

.MonsterIm.head.Attack {
  background-image:url('');
  animation: monster 2s linear forwards;
}

.MonsterIm.body.Attack {
  background-image:url('');
  animation: monster 2s linear forwards;
}

.MonsterIm.legs.attack {
  background-image:url('');
  animation: monster 2s linear forwards;
}

.MonsterIm.body {
  background-image:url('');
  animation: heroidle 4s infinite;
  animation-timing-function: linear;
  -webkit-animation: heroidle 4s infinite;
  -webkit-animation-timing-function: linear;
}

.bulletHero.go.Monster{
  animation: animBulletMonster 2s linear forwards;
  -webkit-animation: animBulletMonster 2s linear forwards;
  z-index: 1;
}

.MonsterIm.explosion {
  background-image:url('./img/sprite-vzriv.png');
  animation: heroidle 1s infinite;
  animation-timing-function: linear;
  -webkit-animation: heroidle 1s infinite;
  -webkit-animation-timing-function: linear;
}

.MonsterIm.life_up {
    background-image:url('./img/troll_life_up.png');
    animation: heroidle 1s infinite;
    animation-timing-function: linear;
    -webkit-animation: heroidle 1s infinite;
    -webkit-animation-timing-function: linear;
  }

.infoHero, .infoMonster {
  margin: 6px auto 0 0;
}

.nameHeroLife, .nameMonsterLife {
  margin: 0 0 6px;
}

.round {
  margin: 6vh auto 0;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.attack {
  visibility: visible;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 13%;
  font-size: 1.3em;
  line-height: 1.75;
  color: white;
  border: none;
  border-radius: 50%;
  background: linear-gradient(#52cfeb, #42A2BC);
  box-shadow:
   inset 0 1px 0 rgba(255, 255, 255, 0.3),
   0 1px 2px rgba(0, 0, 0, 0.35),
   inset 0 3px 2px rgba(255, 255, 255, 0.2),
   inset 0 -3px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.attack.hidden {
  visibility: hidden;
}

.attack:hover {
  margin-left: auto;
  margin-right: auto;
  width: 21%;
  height: 13%;
  font-size: 1.4em;
  line-height: 1.75;
  color: white;
  border: none;
  border-radius: 50%;
  background: linear-gradient(#52cfeb, #42A2BC);
  box-shadow:
   inset 0 1px 0 rgba(255, 255, 255, 0.3),
   0 1px 2px rgba(0, 0, 0, 0.35),
   inset 0 3px 2px rgba(255, 255, 255, 0.2),
   inset 0 -3px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.MonsterImages {
  justify-content: flex-end;
  display: flex;
  height: 330px;
}
/* 
.MonsterImages.animation {
  animation: dedplayer 3s linear forwards;
} */

.HeroImages, 
.MonsterImages {
  margin-top: 30vh;
  width:		200px;
  height:		300px;
}

.HeroImages.Hurt {
  background-image:url('./img/Hero_1_hurt.png');
  animation: monster 1s ease-in forwards;
  -webkit-animation: monster 1s ease-in forwards;
}

.HeroImages.life_up {
    background-image:url('./img/Hero_1_LifeUp.png');
    animation: monster 2s linear forwards;
    -webkit-animation: monster 2s linear forwards;
  }
  
.tombstoneHero {
  background-image:url('./img/tombstoneHero.png');
  margin-top: 30vh;
  width:		200px;
  height:		300px;
}


.HeroImages.Idle {
  background-image:url('./img/Hero_1_idle.png');
  animation: heroidle 2.5s infinite;
  animation-timing-function: linear;
  -webkit-animation: heroidle 2.5s infinite;
  -webkit-animation-timing-function: linear;
}

.HeroImages.Attack1 {
  background-image:url('./img/Hero_1_Attack_1.png');
  animation: heroidle 3s infinite;
  animation-timing-function: linear;
  -webkit-animation: heroidle 3s infinite;
  -webkit-animation-timing-function: linear;
}

.HeroImages.Attack5 {
  background-image:url('./img/Hero_1_Attack_3.png');
  animation: heroattack5 2s infinite;
  animation-timing-function: linear;
  -webkit-animation: heroattack5 2s infinite;
  -webkit-animation-timing-function: linear;
}

.HeroImages.runing-right {
  background-image:url('./img/Hero_1_Run_right.png');
  animation: herorunright 2s infinite;
  animation-timing-function: linear;
  -webkit-animation: herorunright 2s infinite;
  -webkit-animation-timing-function: linear;
}


.HeroImages.Attack3.runing-right {
  background-image:url('./img/Hero_1_Run_right.png');
  animation: hero2runright 1s infinite;
  animation-timing-function: linear;
  -webkit-animation: hero2runright 1s infinite;
  -webkit-animation-timing-function: linear;
}

.HeroImages.Attack3.runing-left {
  background-image:url('./img/Hero_1_Run_left.png');
  animation: hero2runleft 1s infinite;
  animation-timing-function: linear;
  -webkit-animation: hero2runleft 1s infinite;
  -webkit-animation-timing-function: linear;
}

.HeroImages.runing-left {
  background-image:url('./img/Hero_1_Run_left.png');
  animation: herorunleft 2s infinite;
  animation-timing-function: linear;
  -webkit-animation: herorunleft 2s infinite;
  -webkit-animation-timing-function: linear;
}

.HeroImages.Hero2-Attack {
  background-image:url('./img/Hero_2_attack.png');
  animation: hero2attack 2s infinite;
  animation-timing-function: linear;
  -webkit-animation: hero2attack 2s infinite;
  -webkit-animation-timing-function: linear;
}


.HeroImages.Hero2-runing-right {
  background-image:url('./img/Hero_2_run_right.png');
  animation: hero2runright 1s infinite;
  animation-timing-function: linear;
  -webkit-animation: hero2runright 1s infinite;
  -webkit-animation-timing-function: linear;
}


.HeroImages.Hero2-runing-left {
  background-image:url('./img/Hero_2_run_left.png');
  animation: hero2runleft 1s infinite;
  animation-timing-function: linear;
  -webkit-animation: hero2runleft 1s infinite;
  -webkit-animation-timing-function: linear;
}

.player1{
  height: 29vh;
}

/* .HeroImages.animation {
  animation: dedplayer 3s linear forwards;
} */

.MainWrapper {
  background: url() center repeat-x;
  background-color: #060405;
  background-size: 90vh;
  height: 95vh;
}

.MainWrapper.scen4 {
  background: url(./img/4_game_background.png) center repeat-x;
  background-size: 90vh;
  background-color: #060405;
}

.MainWrapper.scen3{
  background: url(./img/3_game_background.png) center repeat-x;
  background-size: 90vh;
  background-color: #060405;
}

.MainWrapper.scen2{
  background: url(./img/2_game_background.png) center repeat-x;
  background-size: 90vh;
  background-color: #060405;
}

.MainWrapper.scen1 {
  background: url(./img/1_game_background.png) center repeat-x;
  background-size: 90vh;
  background-color: #060405;
}



.Player {
  flex-direction: column;
  display: flex;
  flex: 1;
}

.Monsters {
  flex-direction: column;
  display: flex;
  flex: 1;
}
.Animation {
  flex-direction: column;
  display: flex;
  flex: 1;
}

.life.Monster {
  width: 100px;
  height: 25px;
  background: green;
}

.life.Hero {
  width: 100px;
  height: 25px;
  background: green;
}

.boxLife {
  float: left;
  width: 100px;
  height: 25px;
  border: 1px solid white;
  background: black;
}

.boxLife.right{
  float: right;
}

.bulletHero {
  visibility: hidden;
  width: 20px;
  height: 10px;
  margin-top: 50vh;
  z-index: 0;
}

.bulletMonster {
  visibility: hidden;
  width: 20px;
  height: 10px;
  margin-top: 72%;
  z-index: 0;
}

.spells.Gooo {
  background: rgba(0, 0, 0, 0.1);
  visibility: visible;
  position: fixed;
  padding: 10px 0 0 10px;
  width: 214px;
  height: 210px;
  border: 3px solid  rgb(42, 113, 133);
  box-shadow: 0 0 8px rgba(10, 8, 8, 0.219);
  border-radius: 28%;
}

.modal-dialog.active {
  left: 0;
  background: rgba(0, 0, 0, 0.54);
  visibility: visible;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.modal-dialog {
  background: rgba(0, 0, 0, 0.54);
  visibility: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.start__page {
  display: none;
}

.start__page.active {
  left: 0px;
  background: rgba(0, 0, 0, 0.54);
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 95vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.button__start {
  border: none;
  border-radius: 50%;
  height: 45vh;
  width: 45vh;
  font-size: 8vh;
  line-height: 1.5;
  color: white;
  background: linear-gradient(#52cfeb, #42A2BC);
  box-shadow:
   inset 0 1px 0 rgba(255, 255, 255, 0.3),
   0 1px 2px rgba(0, 0, 0, 0.35),
   inset 0 3px 2px rgba(255, 255, 255, 0.2),
   inset 0 -3px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.start-game-panel {
  margin-top: 10vh;
}

.button__start:hover {
  background: linear-gradient(#22a4c2, rgb(42, 113, 133));
}

.roundNumder {
  color: wheat;
}

.modal-game-over {
  top: 0;
  left: 0px;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: none;
  background: rgba(0, 0, 0, 0.54);
  position: fixed;
  width: 100vw;
}

.modal-game-over.animation {
  display: flex;
}

.inscription {
  align-items: center;
  display: none;
  justify-content: center;
  flex: 1;
  background: #f5deb37a;
  height: 75px;
  vertical-align: middle;
}

.inscription.animation {
  display: flex;
  animation: final 5s linear forwards;
}

.game-over {
  font-size: 3.5em;
  margin: 0em 0;
  color: wheat;
}

.spells{
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  visibility: hidden;
}

.battle {
  height: 95vh;
  display: flex;
  max-width: 1200px;
}

.top-left {
   border-top-left-radius: 50%;
}


.top-right {
  border-top-right-radius: 50%;
}

.bottom-left {
  border-bottom-left-radius: 50%;
}

.bottom-right {
  border-bottom-right-radius: 50%;
}

.bulletHero.go1{
  animation: animBullet 1s linear forwards;
  z-index: 1;
}

.bulletHero.go2{
  animation: animBullet 3s linear forwards;
  z-index: 1;
}

.bulletHero.go3{
  animation: animBullet 1s linear forwards;
  z-index: 1;
}

.bulletHero.go4{
  animation: animBullet 3s linear forwards;
  z-index: 1;
}

.MonsterImages.ded {
  animation: dedMonster 2s linear forwards;
}

@keyframes animBullet {
  0% {
    margin-left: 0%;
    visibility: visible;
  }
  99% {
    margin-left: 150%;
  }
  100% {
    margin-left: 150%;
    visibility: hidden;
  }
}

@-webkit-keyframes animBullet {
  0% {
   margin-top: 33vh;
   margin-left: 137%;
   visibility: visible;
  }
  50% {
   margin-top: 50vh;
   margin-left: -75%;
  }
  99%{
   margin-left: 137%;
  }
  100% {
   margin-top: 33vh;
   margin-left: 137%;
   visibility: hidden;
  }
}

@keyframes animBulletMonster {
  0% {
   margin-top: 33vh;
   margin-left: 137%;
   visibility: visible;
  }
  50% {
   margin-top: 50vh;
   margin-left: -75%;
  }
  99%{
   margin-left: 137%;
  }
  100% {
   margin-top: 33vh;
   margin-left: 137%;
   visibility: hidden;
  }
}

@-webkit-keyframes animBulletMonster {
  0% {
   margin-top: 33vh;
   margin-left: 137%;
   visibility: visible;
  }
  99% {
   margin-top: 50vh;
   margin-left: -75%;
  }
  100% {
   /* margin-top: 50vh; */
   margin-left: 137%;
   visibility: hidden;
  }
}

@keyframes final {
  0% {
   opacity: 0;
   display: flex;
   height: 75px;
  }
  20% {
   opacity: 1;
   height: 75px;
  }
  100% {
   height: 350px;
  }
}

@-webkit-keyframes final {
  0% {
   opacity: 0;
   display: flex;
   height: 75px;
  }
  20% {
   opacity: 1;
   height: 75px;
  }
  100% {
   height: 350px;
  }
}

@-webkit-keyframes heroidle {
  0%   { background-position: 0px 0px; }
  9.9999%   { background-position: 0px 0px; }
  10%	 { background-position: -200px 0px; }
  19.9999%	 { background-position: -200px 0px; }
  20%	 { background-position: -400px 0px; }
  29.9999%	 { background-position: -400px 0px; }
  30%	 { background-position: -600px 0px; }
  39.9999%	 { background-position: -600px 0px; }
  40%	 { background-position: -800px 0px; }
  49.9999%	 { background-position: -800px 0px; }
  50%	 { background-position: -1000px 0px; }
  59.9999%	 { background-position: -1000px 0px; }
  60%	 { background-position: -800px 0px; }
  69.9999%	 { background-position: -800px 0px; }
  70%	 { background-position: -600px 0px; }
  79.9999%	 { background-position: -600px 0px; }
  80%	 { background-position: -400px 0px; }
  89.9999%	 { background-position: -400px 0px; }
  90%	 { background-position: -200px 0px; }
  100%	 { background-position: -200px 0px; }
}


@-webkit-keyframes herorunright {
  0%   { background-position: 0px 0px; margin-left: 0%; z-index: 10}
  19.9999%   { background-position: 0px 0px; }
  20%	 { background-position: -200px 0px; }
  39.9999%	 { background-position: -200px 0px; }
  40%	 { background-position: -400px 0px; }
  59.9999%	 { background-position: -400px 0px; }
  60%	 { background-position: -600px 0px; }
  79.9999%	 { background-position: -600px 0px; }
  80%	 { background-position: -800px 0px; }
  99.9999%	 { background-position: -800px 0px; }
  100%	 { background-position: -1000px 0px; margin-left: 220%;}
}

@-webkit-keyframes monster {
  0%   { background-position: 0px 0px;}
  19.9999%   { background-position: 0px 0px; }
  20%	 { background-position: -200px 0px; }
  39.9999%	 { background-position: -200px 0px; }
  40%	 { background-position: -400px 0px; }
  59.9999%	 { background-position: -400px 0px; }
  60%	 { background-position: -600px 0px; }
  79.9999%	 { background-position: -600px 0px; }
  80%	 { background-position: -800px 0px; }
  99.9999%	 { background-position: -800px 0px; }
  100%	 { background-position: -1000px 0px;}
}

@-webkit-keyframes heroattack5 {
  0%   { background-position: 0px 0px; margin-left: 220%; z-index: 10;}
  9.9999%   { background-position: 0px 0px; }
  10%	 { background-position: -200px 0px; }
  19.9999%	 { background-position: -200px 0px; }
  20%	 { background-position: -400px 0px; }
  29.9999%	 { background-position: -400px 0px; }
  30%	 { background-position: -600px 0px; }
  39.9999%	 { background-position: -600px 0px; }
  40%	 { background-position: -800px 0px; }
  49.9999%	 { background-position: -800px 0px; }
  50%	 { background-position: -1000px 0px; }
  59.9999%	 { background-position: -1000px 0px; }
  60%	 { background-position: -800px 0px; }
  69.9999%	 { background-position: -800px 0px; }
  70%	 { background-position: -600px 0px; }
  79.9999%	 { background-position: -600px 0px; }
  80%	 { background-position: -400px 0px; }
  89.9999%	 { background-position: -400px 0px; }
  90%	 { background-position: -200px 0px; }
  100%	 { background-position: -200px 0px; margin-left: 220%; z-index: 10;}
}

@-webkit-keyframes hero2attack {
  0%   { background-position: 0px 0px; margin-left: 0%; z-index: 10;}
  9.9999%   { background-position: 0px 0px; }
  10%	 { background-position: -200px 0px; }
  19.9999%	 { background-position: -200px 0px; }
  20%	 { background-position: -400px 0px; }
  29.9999%	 { background-position: -400px 0px; }
  30%	 { background-position: -600px 0px; }
  39.9999%	 { background-position: -600px 0px; }
  40%	 { background-position: -800px 0px; }
  49.9999%	 { background-position: -800px 0px; }
  50%	 { background-position: -1000px 0px; }
  59.9999%	 { background-position: -1000px 0px; }
  60%	 { background-position: -800px 0px; }
  69.9999%	 { background-position: -800px 0px; }
  70%	 { background-position: -600px 0px; }
  79.9999%	 { background-position: -600px 0px; }
  80%	 { background-position: -400px 0px; }
  89.9999%	 { background-position: -400px 0px; }
  90%	 { background-position: -200px 0px; }
  100%	 { background-position: -200px 0px; margin-left: 0%; z-index: 10;}
}

@-webkit-keyframes herorunleft {
  0%   { background-position: 0px 0px; margin-left:220%; z-index: 10;}
  19.9999%   { background-position: 0px 0px; }
  20%	 { background-position: -200px 0px; }
  39.9999%	 { background-position: -200px 0px; }
  40%	 { background-position: -400px 0px; }
  59.9999%	 { background-position: -400px 0px; }
  60%	 { background-position: -600px 0px; }
  79.9999%	 { background-position: -600px 0px; }
  80%	 { background-position: -800px 0px; }
  99.9999%	 { background-position: -800px 0px; }
  100%	 { background-position: -1000px 0px; margin-left: 0%; z-index: 0;}
}

@-webkit-keyframes hero2runright {
  0%   { background-position: 0px 0px; margin-left: -100%; z-index: 10}
  19.9999%   { background-position: 0px 0px; }
  20%	 { background-position: -200px 0px; }
  39.9999%	 { background-position: -200px 0px; }
  40%	 { background-position: -400px 0px; }
  59.9999%	 { background-position: -400px 0px; }
  60%	 { background-position: -600px 0px; }
  79.9999%	 { background-position: -600px 0px; }
  80%	 { background-position: -800px 0px; }
  99.9999%	 { background-position: -800px 0px; }
  100%	 { background-position: -1000px 0px; margin-left: 0%;}
}

@-webkit-keyframes hero2runleft {
  0%   { background-position: 0px 0px; margin-left:0%; z-index: 10;}
  19.9999%   { background-position: 0px 0px; }
  20%	 { background-position: -200px 0px; }
  39.9999%	 { background-position: -200px 0px; }
  40%	 { background-position: -400px 0px; }
  59.9999%	 { background-position: -400px 0px; }
  60%	 { background-position: -600px 0px; }
  79.9999%	 { background-position: -600px 0px; }
  80%	 { background-position: -800px 0px; }
  99.9999%	 { background-position: -800px 0px; }
  100%	 { background-position: -1000px 0px; margin-left: -100%; z-index: 0;}
}

@-webkit-keyframes hero2attack {
  0%   { background-position: 0px 0px; margin-left: 0%; z-index: 10;}
  9.9999%   { background-position: 0px 0px; }
  10%	 { background-position: -200px 0px; }
  19.9999%	 { background-position: -200px 0px; }
  20%	 { background-position: -400px 0px; }
  29.9999%	 { background-position: -400px 0px; }
  30%	 { background-position: -600px 0px; }
  39.9999%	 { background-position: -600px 0px; }
  40%	 { background-position: -800px 0px; }
  49.9999%	 { background-position: -800px 0px; }
  50%	 { background-position: -1000px 0px; }
  59.9999%	 { background-position: -1000px 0px; }
  60%	 { background-position: -800px 0px; }
  69.9999%	 { background-position: -800px 0px; }
  70%	 { background-position: -600px 0px; }
  79.9999%	 { background-position: -600px 0px; }
  80%	 { background-position: -400px 0px; }
  89.9999%	 { background-position: -400px 0px; }
  90%	 { background-position: -200px 0px; }
  100%	 { background-position: -200px 0px; margin-left: 0%; z-index: 10;}
}

@keyframes heroidle {
  0%   { background-position: 0px 0px; }
  9.9999%   { background-position: 0px 0px; }
  10%	 { background-position: -200px 0px; }
  19.9999%	 { background-position: -200px 0px; }
  20%	 { background-position: -400px 0px; }
  29.9999%	 { background-position: -400px 0px; }
  30%	 { background-position: -600px 0px; }
  39.9999%	 { background-position: -600px 0px; }
  40%	 { background-position: -800px 0px; }
  49.9999%	 { background-position: -800px 0px; }
  50%	 { background-position: -1000px 0px; }
  59.9999%	 { background-position: -1000px 0px; }
  60%	 { background-position: -800px 0px; }
  69.9999%	 { background-position: -800px 0px; }
  70%	 { background-position: -600px 0px; }
  79.9999%	 { background-position: -600px 0px; }
  80%	 { background-position: -400px 0px; }
  89.9999%	 { background-position: -400px 0px; }
  90%	 { background-position: -200px 0px; }
  100%	 { background-position: -200px 0px; }
}

@keyframes herorunright {
  0%   { background-position: 0px 0px; margin-left: 0%; z-index: 10}
  19.9999%   { background-position: 0px 0px; }
  20%	 { background-position: -200px 0px; }
  39.9999%	 { background-position: -200px 0px; }
  40%	 { background-position: -400px 0px; }
  59.9999%	 { background-position: -400px 0px; }
  60%	 { background-position: -600px 0px; }
  79.9999%	 { background-position: -600px 0px; }
  80%	 { background-position: -800px 0px; }
  99.9999%	 { background-position: -800px 0px; }
  100%	 { background-position: -1000px 0px; margin-left: 220%;}
}

@keyframes monster {
  0%   { background-position: 0px 0px;}
  19.9999%   { background-position: 0px 0px; }
  20%	 { background-position: -200px 0px; }
  39.9999%	 { background-position: -200px 0px; }
  40%	 { background-position: -400px 0px; }
  59.9999%	 { background-position: -400px 0px; }
  60%	 { background-position: -600px 0px; }
  79.9999%	 { background-position: -600px 0px; }
  80%	 { background-position: -800px 0px; }
  99.9999%	 { background-position: -800px 0px; }
  100%	 { background-position: -1000px 0px;}
}

@keyframes heroattack5 {
  0%   { background-position: 0px 0px; margin-left: 220%; z-index: 10;}
  9.9999%   { background-position: 0px 0px; }
  10%	 { background-position: -200px 0px; }
  19.9999%	 { background-position: -200px 0px; }
  20%	 { background-position: -400px 0px; }
  29.9999%	 { background-position: -400px 0px; }
  30%	 { background-position: -600px 0px; }
  39.9999%	 { background-position: -600px 0px; }
  40%	 { background-position: -800px 0px; }
  49.9999%	 { background-position: -800px 0px; }
  50%	 { background-position: -1000px 0px; }
  59.9999%	 { background-position: -1000px 0px; }
  60%	 { background-position: -800px 0px; }
  69.9999%	 { background-position: -800px 0px; }
  70%	 { background-position: -600px 0px; }
  79.9999%	 { background-position: -600px 0px; }
  80%	 { background-position: -400px 0px; }
  89.9999%	 { background-position: -400px 0px; }
  90%	 { background-position: -200px 0px; }
  100%	 { background-position: -200px 0px; margin-left: 220%; z-index: 10;}
}

@keyframes hero2attack {
  0%   { background-position: 0px 0px; margin-left: 0%; z-index: 10;}
  9.9999%   { background-position: 0px 0px; }
  10%	 { background-position: -200px 0px; }
  19.9999%	 { background-position: -200px 0px; }
  20%	 { background-position: -400px 0px; }
  29.9999%	 { background-position: -400px 0px; }
  30%	 { background-position: -600px 0px; }
  39.9999%	 { background-position: -600px 0px; }
  40%	 { background-position: -800px 0px; }
  49.9999%	 { background-position: -800px 0px; }
  50%	 { background-position: -1000px 0px; }
  59.9999%	 { background-position: -1000px 0px; }
  60%	 { background-position: -800px 0px; }
  69.9999%	 { background-position: -800px 0px; }
  70%	 { background-position: -600px 0px; }
  79.9999%	 { background-position: -600px 0px; }
  80%	 { background-position: -400px 0px; }
  89.9999%	 { background-position: -400px 0px; }
  90%	 { background-position: -200px 0px; }
  100%	 { background-position: -200px 0px; margin-left: 0%; z-index: 10;}
}

@keyframes herorunleft {
  0%   { background-position: 0px 0px; margin-left:220%; z-index: 10;}
  19.9999%   { background-position: 0px 0px; }
  20%	 { background-position: -200px 0px; }
  39.9999%	 { background-position: -200px 0px; }
  40%	 { background-position: -400px 0px; }
  59.9999%	 { background-position: -400px 0px; }
  60%	 { background-position: -600px 0px; }
  79.9999%	 { background-position: -600px 0px; }
  80%	 { background-position: -800px 0px; }
  99.9999%	 { background-position: -800px 0px; }
  100%	 { background-position: -1000px 0px; margin-left: 0%; z-index: 0;}
}

@keyframes hero2runright {
  0%   { background-position: 0px 0px; margin-left: -100%; z-index: 10}
  19.9999%   { background-position: 0px 0px; }
  20%	 { background-position: -200px 0px; }
  39.9999%	 { background-position: -200px 0px; }
  40%	 { background-position: -400px 0px; }
  59.9999%	 { background-position: -400px 0px; }
  60%	 { background-position: -600px 0px; }
  79.9999%	 { background-position: -600px 0px; }
  80%	 { background-position: -800px 0px; }
  99.9999%	 { background-position: -800px 0px; }
  100%	 { background-position: -1000px 0px; margin-left: 0%;}
}

@keyframes hero2runleft {
  0%   { background-position: 0px 0px; margin-left:0%; z-index: 10;}
  19.9999%   { background-position: 0px 0px; }
  20%	 { background-position: -200px 0px; }
  39.9999%	 { background-position: -200px 0px; }
  40%	 { background-position: -400px 0px; }
  59.9999%	 { background-position: -400px 0px; }
  60%	 { background-position: -600px 0px; }
  79.9999%	 { background-position: -600px 0px; }
  80%	 { background-position: -800px 0px; }
  99.9999%	 { background-position: -800px 0px; }
  100%	 { background-position: -1000px 0px; margin-left: -100%; z-index: 0;}
}

@keyframes hero2attack {
  0%   { background-position: 0px 0px; margin-left: 0%; z-index: 10;}
  9.9999%   { background-position: 0px 0px; }
  10%	 { background-position: -200px 0px; }
  19.9999%	 { background-position: -200px 0px; }
  20%	 { background-position: -400px 0px; }
  29.9999%	 { background-position: -400px 0px; }
  30%	 { background-position: -600px 0px; }
  39.9999%	 { background-position: -600px 0px; }
  40%	 { background-position: -800px 0px; }
  49.9999%	 { background-position: -800px 0px; }
  50%	 { background-position: -1000px 0px; }
  59.9999%	 { background-position: -1000px 0px; }
  60%	 { background-position: -800px 0px; }
  69.9999%	 { background-position: -800px 0px; }
  70%	 { background-position: -600px 0px; }
  79.9999%	 { background-position: -600px 0px; }
  80%	 { background-position: -400px 0px; }
  89.9999%	 { background-position: -400px 0px; }
  90%	 { background-position: -200px 0px; }
  100%	 { background-position: -200px 0px; margin-left: 0%; z-index: 10;}
}