
.preloader{
	background: #33393e;
    visibility: visible;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    /* transition: 5s all; */
    opacity: 1;
    z-index: 100;

}

.loader {
	width: 75px;
	height: 75px;
	border: 10px solid white;
	border-radius: 50%;
	border-top-color: blue;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: 1.5s load infinite linear;
}

.preloader.stop{
    visibility: hidden;
    opacity: 0;
    transition: 1s all;
}

@keyframes load {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}